*{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 24px;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:root{
    --borderRadius: 1.3rem;
    --primary: #3e9b84;
    --logo:#6200d3;
    --buttonGradiant: linear-gradient(90deg,#3c7877 , #111c52 ,#3c7877);
}

body{
    background: #fff;
    min-height: 100vh;
    display: flex;
    margin-left: 2rem;
}


.logo{
    color: var(--primary);
    display: flex;
}


.logo span{
    color: var(--logo);
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-left: 8px;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-left: auto;
    width: 100%;
}


ul{
    display: flex;
    margin-right: 3rem;
}


ul li{
    margin: 0px 2rem;
}

ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: normal;
    font-weight: 400;
}


ul li a:hover{
    color: yellow;
    transition: .3s;
}


.topPart{
    margin-top: 3rem;
    display: flex;
    width: 100%;
}


.photo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


img{
    width: 100%;
    height: 100%;
}


.writing{
    margin-top: 6rem;
    color: var(--primary);

}

.writing h1{
    font-size: 125px;

}

.writing h2{
    margin-top: 2rem;
    letter-spacing: 8px;
    font-weight: 700;

}

.writing p{
    margin-top: 1rem;
    max-width: 40%;
    font-size: 16px;
    font-weight: 750;
    text-transform: capitalize;

}

button{
    padding: 10px 3px;
    height: 2rem;
    border-radius: var(--borderRadius);
    background-image: var(--buttonGradiant);
    background-size: 200% auto;
    outline: none;
    border:none;
    color: white;
    font-weight: 500;
    transition: .4s ease;
    margin-top: 2rem;
    cursor: pointer;
    padding: 10px 20px;
}


button:hover{
    background-position: right center;
}