*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("./wp4166607-venom-4k-wallpapers.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
}

.form-Box{
    margin:auto auto;
    border-radius: 30px;
    border: 2px transparent ;
    height: 20rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: hsla(0, 32%, 9%, 0.188);
    backdrop-filter: blur(4px)
}

.form-inputs{
    
}

.input{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.input label{
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    display: flex;
    margin-right: 2rem;
    text-align: center;
    align-items: center;
}

.input input{
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: hsla(0, 0%, 100%, 0.08);
    color: white;
    font-weight: 700;
    height: 2rem;
    width: 12rem;
    text-align: center;
}

.input input:active{
    border:none;
}

.sub-button{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-button .subButton{
    width: 8rem;
    border: none;
    border-radius: 40px;
    height: 3rem;
    background: linear-gradient(to right, blue , rgb(138, 50, 50));
    font-size: 30px;
    color: white;
    font-weight: 700;
    background-size: 200%;
    background-position: left;
    transition: .3s ease-in-out all;
}

.sub-button .subButton:hover{
    cursor: pointer;
    background-position: right;

}





